@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;400;700;&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Chivo Mono', monospace;
    background-color: black;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.inner-container{
    width: 50%;
    padding: 40px;
    background-image:  linear-gradient(to right, #353A3E, #233444);
}
h1{
    font-size: 70px;
    color: #CA9C7B;
    text-transform: uppercase;
}
h2{
    color: #714529;
    width: 50%;
}
p{
    font-size: 20px;
    line-height: 23px;
    width: 50%;
    color: #714529 ;
    font-weight:400 ;
}
.button{
    display: flex;
    margin-top: 30px;
    background-color: #233444;
    color: #A57B58;
    text-align: center;
    font-size: 26px;
    border-radius: 40px;
    width: 50%;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
}
.button:hover{
    width: 52%;
    height: 62px;
    transition: 1s;
    background-color: #A57B58;
    color: #233444;
    font-weight: 700;
}
.date{
    font-weight: 100;
    margin-top: 200px;
    font-size: 20px;
    color: #714529;
}
figure{
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
    .button a {
      font-size: 16px;
    }
  }
