@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;400;700;&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    font-family: 'Chivo Mono', monospace;
    background-color: aquamarine;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 30px 20px 140px 20px;
} 
.innercontainer{
    display: flex;
    padding: 50px;
    width: 1200px;
    height: 50%;
}
h1{
    font-size: 90px;
    margin: 5px;
    padding: 10px;
}
p{
   padding: 50px;
   max-width: 400px;
   font-size: 23px;
}
.imagemask{
    width: 1200px;
    height: 350px;
    background-image: url('polyphia2.jpg');
    overflow: hidden;
    background-size: cover;
    background-position: center 1060px;
}

