@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;400;700;&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Chivo Mono', monospace;
}
.container{
    display: flex ;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.left-col{
    width: 50%;
    height: 100vh;
}
figure{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.right-col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 100vh;
    padding: 5%;
    background-image:  linear-gradient(to right, #353A3E, #233444);
}
.title h1{
    font-size: 50px;
    color: #CA9C7B;
}
h2{
    color: #714529;
    width: 100%;
    font-size: 30px;
}
@media screen and (max-width: 1024px) {
   .title h1{
    font-size: 39px;
   }
  }
  @media screen and (max-width: 768px) {
    .left-col,
    .right-col {
      width: 100%;
    }
    .left-col{
        background-color: #233444;
    }
    figure {
      height: 300px;
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 22px;
    }
  }
  
  @media screen and (max-width: 420px) {
    h1{
        font-size: 26px;
    }
    h2{
        font-size: 16px;
    }
  }
